
<!DOCTYPE html>
<html>
<head>
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Opimas: research and consulting reinvented</title>
	<link rel="shortcut icon" href="http://www.opimas.com/favicon.ico" type="image/x-icon">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/all.css">
	<link href='http://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic%7cLato:400,100italic,300,300italic,100,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
		<meta name="description" content="The Opimas' research offering provides clients a continuous advisory service covering topics of critical importance to financial institutions, topics carefully selected to help our clients navigate a constantly changing industry landscape. We are a team of financial industry veterans that have worked at leading financial institutions, giving us a practical understanding of the transforming business model and the challenges clients face today. "/>
	<meta name="keywords" content="Research, Consulting, Finance, Strategic advisory, Finance, Equities, Securities servicing, Fixed incomes, Asset management, Risk management &amp; Public policy"/>
	<meta name="classification" content="Research, Consulting, Finance, Strategic advisory, Finance, Equities, Securities servicing, Fixed incomes, Asset management, Risk management &amp; Public policy" />
	<meta name="category" content="Research, Consulting, Finance, Strategic advisory, Finance, Equities, Securities servicing, Fixed incomes, Asset management, Risk management &amp; Public policy" />
	
	
	<meta name="author" content="Octavio Marenzi, Axel Pierron" />
	<meta name="copyright" content="Octavio Marenzi, Axel Pierron, Opimas" />
	<meta name="publisher" content="Octavio Marenzi, Axel Pierron, Opimas" />

	<meta name="language" content="en" />
	<meta name="robots" content="index, follow" />
	
	<link rel="canonical" href="http://www.opimas.com/" />
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="presentation" />
	<meta property="og:title" content="Opimas: research and consulting reinvented" />
	<meta property="og:description" content="The Opimas' research offering provides clients a continuous advisory service covering topics of critical importance to financial institutions, topics carefully selected to help our clients navigate a constantly changing industry landscape. We are a team of financial industry veterans that have worked at leading financial institutions, giving us a practical understanding of the transforming business model and the challenges clients face today. " />
	<meta property="og:url" content="http://www.opimas.com" />
	<meta property="og:site_name" content="Opimas: research and consulting reinvented " />
	<meta property="article:tag" content="Research, Consulting, Finance, Strategic advisory, Finance, Equities, Securities servicing, Fixed incomes, Asset management, Risk management &amp; Public policy" />
	<meta property="og:image" content="http://www.opimas.com/images/logo.png" />

	
	
	
	

		
		
</head>
<body>
<!-- main container of all the page elements -->
<div id="wrapper">
	<!-- header of the page -->
	<header id="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<!-- header-holder -->
					<div class="header-holder">
						<!-- logo of the page -->
						<div class="logo">
							<a href="#">
								<span data-picture data-alt="Opimas: research and consulting reinvented">
									<span data-src="images/logo.png"></span>
									<span data-src="images/logo-2x.png" data-width="159" data-height="44" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
									<span data-src="images/logosmall-2x.png"  data-width="159" data-height="44" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<span data-src="images/logo.png"></span>
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/logo.png" width="159" height="44" alt="Opimas: research and consulting reinvented" ></noscript>
								</span>
							</a>
						</div>
						<!-- main navbar -->
						<nav class="navbar navbar-default pull-right">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
								</button>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li><a href="#approach" class="next">Approach</a></li>
									<li><a href="#services" class="next">Services</a></li>
									<li><a class="next" href="#markets">Markets</a></li>
									<li><a class="next" href="#innovative">Innovative offer</a></li>
									<li class="last"><a class="next" href="#who">Who we are</a></li>
									<li><a href="#footer" class="next">Contact</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- banner -->
	<section class="banner">
		<!-- img-holder -->
		<div class="img-holder">
			<span data-picture data-alt="Opimas: research and consulting reinvented. Octavio Marenzi, Axel Pierron">
				<span data-src="images/banner-img.jpg" ></span>
				<span data-src="images/banner-img-2x.jpg" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
				<span data-src="images/banner-imgsmall-2x.jpg" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
				<!--[if (lt IE 9) & (!IEMobile)]>
					<span data-src="images/banner-img.jpg"></span>
				<![endif]-->
				<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
				<noscript><img src="images/banner-img.jpg" width="1407" height="563" alt="Opimas: research and consulting reinvented" ></noscript>
			</span>
		</div>
		<!-- holder -->
		<div class="holder">
			<!-- caption -->
			<div class="caption">
				<h1>Research and consulting<br> <span>reinvented</span></h1>
				<p>Focused on capital markets, Opimas is a research and consulting firm designed to deliver the tools and content that market professionals need.</p>
			</div>
		</div>
		<!-- btn-default -->
		<a class="btn-default next" href="#footer">contact us</a>
	</section>
	<!-- main of the page -->
	<main id="main" role="main">
		<div class="container">
			<!-- three-col -->
			<div class="row three-col" id="approach">
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<!-- heading-box -->
						<div class="heading-box">
							<h1>Our approach</h1>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<div class="text-box">
							<p>The Opimas' <strong>research</strong> offering provides clients a continuous advisory service covering topics of critical importance to financial institutions, topics carefully selected to help our clients navigate a constantly changing industry landscape. </p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<div class="text-box">
							<p>As a result of our ongoing research coverage in our key markets, Opimas consultants have a solid understanding of the market dynamics and the challenges facing our clients. </p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row three-col add-services" id="services">
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<!-- heading-box -->
						<div class="heading-box">
							<h1>Our services</h1>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col"></div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col"></div>
				</div>
			</div>

			<!-- three-col -->
			<div class="row three-col post">
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col"></div>
				</div>
				<div class="col-sm-4 col-xs-12 ">
					<!-- col -->
					<div class="col">
						<div class="text-box add">	
							<h2>Research</h2>
														<p>
							Opening the door to our library of rich content (analyses, data, opinion pieces), available through an annual subscription. Opimas reports can be segmented according to the publication’s objective: provide deep understanding or synthesized information. 
														</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<!-- img-box -->
						<div class="img-box">
							<span data-picture data-alt="Research">
								<span data-src="images/img01.jpg" ></span>
								<span data-src="images/img01-2x.jpg" data-width="313" data-height="313" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
								<span data-src="images/img01small-2x.jpg" data-width="313" data-height="313" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
								<!--[if (lt IE 9) & (!IEMobile)]>
									<span data-src="images/img01.jpg"></span>
								<![endif]-->
								<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
								<noscript><img src="images/img01.jpg" width="313" height="313" alt="Research" ></noscript>
							</span>
						</div>
					</div>
				</div>
			</div>
			<!-- three-col -->
			<div class="row three-col post">
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<div class="text-box add">
							<h2>Consulting</h2>
														<p>
							Opimas engages in strategy consulting projects with its clients, aiming to address the most critical challenges facing them today. By leveraging deep-rooted market knowledge acquired through our ongoing research activity, Opimas consultants have a solid understanding of the key issues at hand. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<!-- img-box -->
						<div class="img-box">
							<span data-picture data-alt="Consulting">
								<span data-src="images/img02.jpg" ></span>
								<span data-src="images/img02-2x.jpg" data-width="313" data-height="313" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
								<span data-src="images/img02small-2x.jpg" data-width="313" data-height="313" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
								<!--[if (lt IE 9) & (!IEMobile)]>
									<span data-src="images/img02.jpg"></span>
								<![endif]-->
								<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
								<noscript><img src="images/img02.jpg" width="313" height="313" alt="Consulting" ></noscript>
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						
					</div>
				</div>
			</div>
			<!-- three-col -->
			<div class="row three-col post">
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<div class="text-box add">
							<h2>Strategic advisory</h2>
														<p>
							Opimas experts are available to participate in brainstorming sessions, putting client strategy in perspective against overall market trends and the competitive landscape. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12">
					<!-- col -->
					<div class="col">
						<!-- img-box -->
						<div class="img-box">
							<span data-picture data-alt="Strategic advisory">
								<span data-src="images/img03.jpg" ></span>
								<span data-src="images/img03-2x.jpg" data-width="313" data-height="313" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
								<span data-src="images/img03small-2x.jpg" data-width="313" data-height="313" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
								<!--[if (lt IE 9) & (!IEMobile)]>
									<span data-src="images/img03.jpg"></span>
								<![endif]-->
								<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
								<noscript><img src="images/img03.jpg" width="313" height="313" alt="Strategic advisory" ></noscript>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<!-- market-section -->
					<section class="market-section post" id="markets">
						<h1>Our markets</h1>
						<!-- tabs-block -->
						<div class="tabs-block">
							<!-- tabset -->
							<ul class="tabset">
								<li class="active"><a href="#tab1"><i class="icon-equities-img"></i>Equities</a></li>
								<li><a href="#tab2"><i class="icon-securities-img"></i>Securities servicing</a></li>
								<li><a href="#tab3"><i class="icon-income-img"></i>Fixed incomes</a></li>
								<li><a href="#tab4"><i class="icon-asset-img"></i>Asset management</a></li>
								<li><a href="#tab5"><i class="icon-risk-img"></i>Risk management &amp; Public policy</a></li>
							</ul>
							<!-- tabs-content -->
							<div class="tab-content">
								<div id="tab1">
									<!-- open-close -->
									<div class="open-close">
										<!-- opener -->
										<a class="opener" href="#"><i class="icon-equities-img"></i>Equities</a>
										<!-- tab-box -->
										<div class="tab-box">
											<!-- heading-area -->
											<div class="heading-area">
												<h2>Equities</h2>
											</div>
											<!-- text-area -->
											<div class="text-area">
																								<p>
												The Opimas <strong>Equities research service</strong> covers European cash and derivatives markets. We address regulatory and structural changes in the market, the impact of technology and electronic trading platforms, new trading strategies - including high-frequency trading strategies - and changes in post-trade processing. We analyze market liquidity on a pan-European and regional basis. 
																								</p>
											</div>
											<a class="close opener" href="#">Close</a>
										</div>
									</div>
								</div>
								<div id="tab2">
									<!-- open-close -->
									<div class="open-close">
										<!-- opener -->
										<a class="opener" href="#"><i class="icon-securities-img"></i>Securities<br> servicing</a>
										<!-- tab-box -->
										<div class="tab-box">
											<!-- heading-area -->
											<div class="heading-area">
												<h2>Securities servicing</h2>
											</div>
											<!-- text-area -->
											<div class="text-area">
																								<p>
												The Opimas <strong>Securities research service</strong> covers the overall eco-system of securities trading providers.  Numerous factors ranging from regulations to technology are pushing toward a major restructuring of the European financial industry. Our research provides a detailed analysis of the various changes impacting the infrastructure of the securities market, from exchanges and CCP’s to custodians and CSD’s. Our service delivers an unbiased view of the opportunities and threats driven by these evolutions to the various types of participants in the securities processing eco-system.
												</p>
											</div>
											<a class="close opener" href="#">Close</a>
										</div>
									</div>
								</div>
								<div id="tab3">
									<!-- open-close -->
									<div class="open-close">
										<!-- opener -->
										<a class="opener" href="#"><i class="icon-income-img"></i>Fixed<br> incomes</a>
										<!-- tab-box -->
										<div class="tab-box">
											<!-- heading-area -->
											<div class="heading-area">
												<h2>Fixed incomes</h2>
											</div>
											<!-- tab-box -->
											<div class="text-area">
																								<p>
												The Opimas <strong>Fixed Income, Currencies &amp; Commodities (FICC) research service</strong>  covers cash and derivatives markets for bonds, rates, FX, energy, as well as soft and hard commodities. We cover regulatory and structural changes in the market, the impact of technology and electronic trading platforms, the evolution towards standardized products, as well as the emergence of new trading strategies and investors.

																								</p>
											</div>
											<a class="close opener" href="#">Close</a>
										</div>
									</div>
								</div>
								<div id="tab4">
									<!-- open-close -->
									<div class="open-close">
										<!-- opener -->
										<a class="opener" href="#"><i class="icon-asset-img"></i>Asset<br> management</a>
										<!-- tab-box -->
										<div class="tab-box">
											<!-- heading-area -->
											<div class="heading-area">
												<h2>Asset management</h2>
											</div>
											<!-- tab-box -->
											<div class="text-area">
																								<p>
												The Opimas <strong>Asset Management research service</strong> covers a range of topics on both the buy-side and the sell-side, in the context of an increasingly competitive market environment where emerging technologies and digital media greatly impact the investment decision making process. We address specific topics such as the evolution of the buy-side to liquidator provider, the impact of changing regulations, like AIFMD, shadow banking regulations, MiFID II, transparency requirements, the issue of asset allocation in view of the vacuum left by traditional sell-side institutions, asset allocation in an ultra-low interest rate environment, evaluations of prime brokerage services, the changing relationship with custodian banks.
																								</p>
											</div>
											<a class="close opener" href="#">Close</a>
										</div>
									</div>
								</div>
								<div id="tab5">
									<!-- open-close -->
									<div class="open-close">
										<!-- opener -->
										<a class="opener" href="#"><i class="icon-risk-img"></i>Risk management<br> &amp; Public policy</a>
										<!-- tab-box -->
										<div class="tab-box">
											<!-- heading-area -->
											<div class="heading-area">
												<h2>Risk management &amp; Public policy</h2>
											</div>
											<!-- tab-box -->
											<div class="text-area">
																								<p>
												The Opimas <strong>Risk and Public Policy research service</strong> covers enterprise risk management, governance as well as the international regulatory and policy landscape. We cover all categories of risk ranging from qualitative and quantitative risk strategies, stress testing and capital management, to risk analytics, risk-based performance, and the impact of regulation, risk culture and risk governance. We analyze the effect of global and regional regulations on financial stability and the competitiveness of the financial sector.
																								</p>
											</div>
											<a class="close opener" href="#">Close</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<!-- work-section -->
			<div class="row">
				<div class="col-xs-12">
					<div class="work-section" id="innovative">
						<h1>A new way to deliver our work</h1>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<!-- article -->
								<article class="article">
									<!-- img-box -->
									<div class="img-box">
										<span data-picture data-alt="Our data is your data">
											<span data-src="images/icon-img01.png"></span>
											<span data-src="images/icon-img01-2x.png" data-width="184" data-height="133" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
											<span data-src="images/icon-img01small-2x.png"  data-width="184" data-height="133" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="images/icon-img01.png"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><img src="images/icon-img01.png" width="184" height="133" alt="Our data is your data" ></noscript>
										</span>
									</div>
									<h2>Our data is your data</h2>
									<p>Direct, unlimited access to our statistics, forecasts and models, which are all continuously updated. On the Opimas platform, our clients will find both extensive data created by Opimas and targeted, relevant data compiled by our expert analysts through research.</p>
								</article>
							</div>
							<div class="col-sm-6 col-xs-12">
								<!-- article -->
								<article class="article">
									<!-- img-box -->
									<div class="img-box">
										<span data-picture data-alt="Online, collaborative, interactive">
											<span data-src="images/icon-img02.png"></span>
											<span data-src="images/icon-img02-2x.png" data-width="154" data-height="123" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
											<span data-src="images/icon-img02small-2x.png"  data-width="154" data-height="123" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="images/icon-img02.png"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><img src="images/icon-img02.png" width="154" height="123" alt="Online, collaborative, interactive" ></noscript>
										</span>
									</div>
									<h2>We are online, collaborative and interactive</h2>
									<p>In addition to traditional PDF reports, Opimas publishes interactive reports online, allowing clients to ask questions directly to our analysts, save specific chapters and share content with colleagues.</p>
								</article>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<!-- articale -->
								<article class="article">
									<!-- img-box -->
									<div class="img-box">
										<span data-picture data-alt="Our content fits your pace">
											<span data-src="images/icon-img03.png"></span>
											<span data-src="images/icon-img03-2x.png" data-width="140" data-height="141" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
											<span data-src="images/icon-img03small-2x.png"  data-width="140" data-height="141" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="images/icon-img03.png"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><img src="images/icon-img03.png" width="140" height="141" alt="Our content fits your pace" ></noscript>
										</span>
									</div>
									<h2>Our content fits<br> your pace</h2>
									<p>At Opimas, we believe one size does not fit all. Hence, we’ve created a tailored reporting method that comes in three different sizes- from a short version, which gives you just the essentials you need to understand, to a 15 minute read giving you a more analytical overview, to a full-version, allowing you to master a topic inside and out.</p>
								</article>
							</div>
							<div class="col-sm-6 col-xs-12">
								<!-- article -->
								<article class="article">
									<!-- img-box -->
									<div class="img-box">
										<span data-picture data-alt="A video is worth 30 pages">
											<span data-src="images/icon-img04.png"></span>
											<span data-src="images/icon-img04-2x.png" data-width="145" data-height="144" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
											<span data-src="images/icon-img04small-2x.png"  data-width="145" data-height="144" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="images/icon-img04.png"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><img src="images/icon-img04.png" width="145" height="144" alt="A video is worth 30 pages" ></noscript>
										</span>
									</div>
									<h2>A video is worth <br>30 pages</h2>
									<p>
										Because reading is not the only way to consume research, Opimas will deliver its analysis through video and podcast.
										</p>
								</article>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<!-- article -->
								<article class="article">
									<!-- img-box -->
									<div class="img-box">
										<span data-picture data-alt="Save, collect and collaborate">
											<span data-src="images/icon-img05.png"></span>
											<span data-src="images/icon-img05-2x.png" data-width="153" data-height="166" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
											<span data-src="images/icon-img05small-2x.png"  data-width="153" data-height="166" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
											<!--[if (lt IE 9) & (!IEMobile)]>
												<span data-src="images/icon-img05.png"></span>
											<![endif]-->
											<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
											<noscript><img src="images/icon-img05.png" width="153" height="166" alt="Save, collect and collaborate" ></noscript>
										</span>
									</div>
									<h2 class="post">Save, collect and collaborate</h2>
									<p>Subscribers will be able to save charts and data from both entire reports or just selected passages, available anytime in your Opimas personal vault. 
									</p>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- section -->
	<section class="section post" id="who">
		<div class="section-holder">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>Who we are</h1>
						<!-- text-box -->				
						<div class="text-box">
							<p>We are a team of financial industry veterans that have worked at leading financial institutions, giving us a practical understanding of the transforming business model and the challenges clients face today. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- twocolumns -->
	<section class="twocolumns">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<!-- info-area -->
					<div class="info-area">
						<!-- head -->
						<header class="head">
							<!-- img-box -->
							<div class="img-box">
								<span data-picture data-alt="Octavio Marenzi">
									<span data-src="images/img04.png"></span>
									<span data-src="images/img04-2x.png" data-width="126" data-height="126" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
									<span data-src="images/img04small-2x.png"  data-width="126" data-height="126" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<span data-src="images/img04.png"></span>
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/img04.png" width="126" height="126" alt="Octavio Marenzi" ></noscript>
								</span>
							</div>
							<!-- mail -->
							<a class="mail" href="mailto:&#111;&#109;&#064;&#111;&#112;&#105;&#109;&#097;&#115;&#046;&#099;&#111;&#109;">&#111;&#109;&#064;&#111;&#112;&#105;&#109;&#097;&#115;&#046;&#099;&#111;&#109;</a>
						</header>
						<!-- text-box -->
						<div class="text-box">
							<p><strong>Octavio Marenzi</strong> is the co-founder and managing director of Opimas. At Opimas, he directs the firm’s research into the areas of equities trading and asset management.</p>
						</div>
						<p>Octavio has performed a variety of consulting engagements including the: Creation of an international expansion strategy for a major US derivatives exchange;</p>
						<p>Analysis of the impact of two major Austrian banks, including identification of cost and revenue synergies;</p>
						<p>Delineation of the strategy for the merger of the back-office and technology operations of two major Wall Street brokerage firms ;</p>
						<p>Review of non-Japan Asia equities markets for a major Japanese bank. This involved market sizing, competitive landscape, and recommendations for acquisitions.</p>
						<p>Prior to joining Opimas, Octavio was the CEO and founder of Celent, which was acquired by Oliver Wyman. At Oliver Wyman, he served on the firm’s management committee, overseeing 2000 consultants globally. Previously, he worked at UBS in their asset management division in Zurich, as well as at Booz, Allen &amp; Hamilton’s financial service group in New York. He received his MSc and BSc degrees in mechancial engineering from MIT.</p>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<!-- info-area -->
					<div class="info-area">
						<!-- head -->
						<header class="head">
							<!-- img-box -->
							<div class="img-box">
								<span data-picture data-alt="Axel Pierron">
									<span data-src="images/img05.png"></span>
									<span data-src="images/img05-2x.png" data-width="126" data-height="126" data-media="(-webkit-min-device-pixel-ratio:1.5), (min-resolution:1.5dppx)" ></span>
									<span data-src="images/img05small-2x.png"  data-width="126" data-height="126" data-media="(max-width:767px) and (-webkit-min-device-pixel-ratio:1.5), (max-width:767px) and (min-resolution:144dpi)" ></span>
									<!--[if (lt IE 9) & (!IEMobile)]>
										<span data-src="images/img05.png"></span>
									<![endif]-->
									<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
									<noscript><img src="images/img05.png" width="126" height="126" alt="Axel Pierron" ></noscript>
								</span>
							</div>
							<!-- mail -->
							<a class="mail" href="mailto:&#097;&#112;&#064;&#111;&#112;&#105;&#109;&#097;&#115;&#046;&#099;&#111;&#109;">&#097;&#112;&#064;&#111;&#112;&#105;&#109;&#097;&#115;&#046;&#099;&#111;&#109;</a>
						</header>
						<!-- text-box -->
						<div class="text-box">
							<p><strong>Axel Pierron</strong> is the co-founder and managing director of Opimas. At Opimas, he directs the firm’s research into the areas of market structure and FICC (Fixed Income Currency and Commodities).</p>
						</div>
						<p>Axel has performed a variety of consulting engagements including the: Assessment of the impact of the post-trade infrastructure regulatory evolution in Europe for a leading securities services provider ;</p>
						<p>Due diligence on a global securities servicing and IT provider for a leading European private equity firm ;</p>
						<p>Evaluation of the options available (business and trading model) for a major European exchanges to develop a fixed income trading platform Creation of a multi- market entry strategy for a global derivatives exchange ;</p>
						<p>Prior to joining Opimas, Axel was the founder of Bedade a network sourced data platform. Previously, he was the manager in charge of the global capital market practice at Celent, an Oliver Wyman company.</p>
						<p>He received his Master from SKEMA business school.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- footer of the page -->
	<footer id="footer" class="post">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">				
					<!-- form -->
					<form action="mail.php" method="POST" class="form">
						<fieldset>
							<h1>Get in touch</h1>
							<input class="form-control" type="email" name="umail" placeholder="Email">
							<input class="form-control" type="text" name="uname" placeholder="Name">
							<input class="form-control" type="text" name="ucompany" placeholder="Company and position">
							<input class="btn-default" type="submit" value="SEND">
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</footer>
</div>


<!-- include jQuery library -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<!-- include custom JavaScript -->
<script type="text/javascript" src="js/jquery.main.js"></script>

<!-- include CSS Animate and Viewportchecker library -->
<link rel="stylesheet" type="text/css" href="css/animate.css" />
<script src="js/viewportchecker.js"></script>

<!-- initialisation du script -->
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.post').addClass("cache").viewportChecker({
	    classToAdd: 'montre animated fadeIn', // Class to add to the elements when they are visible
	    offset: 100    
	   });   
});            
</script>
</body>
</html>
