<div class="center jumbotron">
  <h1>
     <p class="text-center"> Research and consulting </p>
     <p class="text-center"> <u>reinvented </u> </p>
  </h1>

  <h2>
    <p class="text-center">Focused on capital markets, Opimas is a research and consulting firm designed to deliver the tools and content that market professionals need.</p>
    
    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("opimas.png", alt: "Opimas logo"),
            'http://www.opimas.com' %>
